body{
    background: none;
  min-width: 30rem;


}

.cards-item-text > a {
    color: black;
    font-size: 24px;
    line-height: 24px;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    text-decoration: none;

    
  }
  .fa-github {
    right: 10%;
    height: 20px;
    padding-left: 10px;
    padding-top: 15px;
  }