video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -2;
}
.body-image {
  overflow: hidden
}
.back-to-top {
    position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  animation: fadeIn 700ms ease-in-out 1s both;
  cursor: pointer;
}
.Body-container {
    color: #fff;;
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:  inset 0 0 0 1000px rgba (0, 0, 0, 0.2);
    object-fit: contain;
}
.Body-container  > a {
    color: white;
    font-size: 50px;
    margin-top: 50px;
    margin-left: 10px ;
    text-shadow: black;
    font-weight: 100;
    text-decoration: none;
    margin-bottom: -100px;
}