
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
  .home,
  .About,


  
  
  .About {
    background-image: url('../src/images/computer-background.jpg');
    background-position: center;
    background-size: cover;
    max-height: none;
    height: 400px;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
    padding-left: 10px;
    font-family: 'PT Sans', sans-serif;
  }

  
 
  